.root{
    -fx-background-color: #121520;
}


/*
 LoginView
*/

/*
 RegisterView
*/

/*
 MainView
*/

.table-view {
    -fx-background-color: #1a1d2e;
    -fx-border-color: #3a3f5c;
    -fx-border-width: 2px;
}
.table-view .column-header-background {
    -fx-background-color: #1a1d2e;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .table-cell{
    -fx-text-fill: #e0e0e0;
}

.table-view .table-row-cell:hover .table-cell {
    -fx-background-color: #252842;
}

.table-view .table-row-cell:selected .table-cell{
    -fx-background-color: #2d3250;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #17182591;
}

.table-view .table-row-cell:even {
    -fx-background-color: #4f5162;
}

.MainViewButtons {
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-color: #161822CF;
    -fx-text-fill: white;
    -fx-padding: 4 8 4 8;
    -fx-background-radius: 10;
    -fx-border-color: #3a3f5c;
    -fx-border-radius: 10;
    -fx-border-width: 2px;
    -fx-cursor: hand;
}

.MainViewButtons:hover {
    -fx-background-color: #1f2130;
}

.MainViewButtons:pressed {
    -fx-background-color: #252842;
}

.MainViewLabels {
    -fx-fill: white;
    -fx-text-fill: white;
}

.slider .track {
    -fx-background-color: linear-gradient(to right, #667eea, #764ba2);
    -fx-background-radius: 5;
    -fx-pref-height: 6px;
}

.slider .thumb {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-pref-width: 12;
    -fx-pref-height: 12;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 1);
}

#songSearcherTxtField {
    -fx-background-color: #1f2130;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 5 10 5 10;
    -fx-text-fill: white;
}

#songListInPlaylist {
    -fx-background-color: #11141C;
}

#playPauseButton {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 0 0 2 16;
    -fx-background-radius: 10;
    -fx-border-color: #00d4ff;
    -fx-border-radius: 5;
    -fx-border-width: 2px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

#playPauseButton:hover {
    -fx-background-color: rgba(0, 212, 255, 0.1);
    -fx-border-color: #33ddff;
}

#playPauseButton:pressed {
    -fx-background-color: rgba(0, 212, 255, 0.2);
}

/*
 NewPlaylistView
*/

/*
 NewSongView
*/

/*
 EditSongView
*/

/*
 EditPlaylistView
*/



